<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testingnetsuiteeventtrigger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a1330f89-a749-4786-87b9-94710ebfc151/resourceGroups/macro/providers/Microsoft.Web/sites/TestingNetSuiteEventTrigger</ResourceId>
    <UserName>$TestingNetSuiteEventTrigger</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testingnetsuiteeventtrigger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>